
<nav class=" navbar-expand navbar-light color">
  <div class="navbar-collapse" id="navbarColor05">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
      
      <%= link_to root_path do %>
      <%= image_tag "logo final.png" %>
      <% end %>
      
      </li>
    </ul>
  </div>
    <div class=" d-flex justify-content-end collapse navbar-collapse ">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%=link_to "Yoga", yogas_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
        <%=link_to "Mes pratiques", mes_autres_pratiques_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "I love", i_loves_path, class: "nav-link" %>
        </li>
      </ul>
    </div>
</nav>